.student-wrap[data-v-67dbdf1b]{background:var(--bg)}.sider-inner[data-v-67dbdf1b]{padding:8px}.sider-course.active[data-v-67dbdf1b]{background:#0000000d;border-left:3px solid #1890ff}.text-muted[data-v-67dbdf1b]{color:#999}
